## Calculo de tiempo promedio de horas pico de las sucursales 
### Desarrollado por:
- **Nombre:** Gabriel Chavez 
- **Fecha:** 2024-11-21

### Descripción
Tomaremos de referencia las transacciones de kielsa Honduras, donde pondremos de forma ordenada las cajas y los id de facturas, para poder calcular el tiempo promedio de horas pico de las sucursales.
- La hora de inicio sera la fecha de finazalizacion anterior.
- El tiempo promedio sera la diferencia entre la hora de inicio y la hora de fin de la transaccion.
- Organizar por tipo de transaccion y sacar el promedio.

In [24]:
import polars as pl
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import text

from sqlalchemy import create_engine
from urllib.parse import quote_plus


connection_string = (
    'mssql+pyodbc://'
    'Angel_chavez:{}@172.16.2.227\\DWHFARINTERDEV/BI_FARINTER?'
    'driver=ODBC+Driver+17+for+SQL+Server'.format(quote_plus('@ng3l_ch@v3z'))
)
engine = create_engine(connection_string)
query = text("""SELECT
    fc.Suc_Id,
    fc.Emp_Id,
    fc.Caja_Id,
    fc.Factura_Id,
    fc.Factura_Fecha,
    fc.Factura_FechaHora,
    fc.AnioMes_Id,
    fc.Cliente_Id,
    fc.MonederoTarj_Id,
    fc.Vendedor_Id,
    CASE 
        WHEN fc.Monedero_Id = '0' THEN 'No Identificada'
        ELSE md.Tipo_Plan 
    END AS Tipo_Plan,
    md.Edad,
    suc.TipoSucursal_Id,
    suc.TipoSucursal_Nombre,
    suc.Zona_Id,
    suc.Zona_Nombre
FROM
    [BI_Kielsa_Hecho_FacturaEncabezado] AS fc
    JOIN [BI_Kielsa_Dim_Monedero] AS md 
        ON md.Monedero_Id = fc.Monedero_Id AND md.Emp_Id = fc.Emp_Id       
    JOIN [BI_Kielsa_Dim_Sucursal] AS suc 
        ON suc.Sucursal_Id = fc.Suc_Id AND suc.Emp_Id = fc.Emp_Id
WHERE
    fc.AnioMes_Id = 202410 
    AND fc.Emp_Id = 1;""")

with engine.connect() as conn:
    df_base = pd.read_sql(query, conn).set_index('Factura_Id').reset_index()

In [25]:
df_base.head()

,Factura_Id,Suc_Id,Emp_Id,Caja_Id,Factura_Fecha,Factura_FechaHora,AnioMes_Id,Cliente_Id,MonederoTarj_Id,Vendedor_Id,Tipo_Plan,Edad,TipoSucursal_Id,TipoSucursal_Nombre,Zona_Id,Zona_Nombre
0,15073,118,1,3,2024-10-26,13:20:38,202410,10000001,0502-1996-01137,10002837,Monedero todo publico,28,8,Supermercado,2,NORTE
1,119584,56,1,1,2024-10-01,13:11:58,202410,10000001,0502-1996-01177,10003784,Monedero todo publico,28,3,Clínica/Hospitalaria,2,NORTE
2,17786,268,1,1,2024-10-22,16:26:31,202410,10000001,0502-1996-01178,10004530,Monedero todo publico,28,9,Plaza Comercial,2,NORTE
3,73545,248,1,4,2024-10-22,17:19:22,202410,10000001,0502-1996-01288,10004684,Monedero todo publico,29,9,Plaza Comercial,2,NORTE
4,22382,268,1,2,2024-10-30,19:09:34,202410,10000001,0502-1996-01632,10004530,Monedero todo publico,28,9,Plaza Comercial,2,NORTE

In [30]:
import numpy as np

# Copia de DataFrame base
df = df_base.copy()

tipos_transaccion = {
    'Monedero tercera edad': 'Tercera Edad',
    'Monedero Cuarta Edad': 'Tercera Edad',
    'Monedero todo publico': 'Todo Publico',
    'Monedero Clínica TP': 'Todo Publico',
    'Monedero Clínica TE': 'Tercera Edad',
    'No Identificada': 'No Identificada',
}

# Mapear los tipos de transacciones y eliminar las no relevantes
df['Tipo_Plan'] = df['Tipo_Plan'].map(tipos_transaccion)
df = df.dropna(subset=['Tipo_Plan'])


# Convertir Factura_FechaHora a cadena para agregar fecha ficticia
df['Factura_FechaHora'] = df['Factura_FechaHora'].astype(str)
df['Factura_FechaHora'] = '1900-01-01 ' + df['Factura_FechaHora']

# Convertir Factura_FechaHora a tipo datetime
df['Factura_FechaHora'] = pd.to_datetime(df['Factura_FechaHora'], errors='coerce')

# Asegurarse de que Factura_Fecha sea tipo datetime
df['Factura_Fecha'] = pd.to_datetime(df['Factura_Fecha'])

# Ordenar el DataFrame
df = df.sort_values(by=['Suc_Id', 'Caja_Id', 'Factura_Id', 'Factura_Fecha'], ascending=[True, True, True, True])

# Crear columna Factura_Inicio_FechaHora solo si la fecha es la misma
df['Factura_Inicio_FechaHora'] = np.where(
    df['Factura_Fecha'] == df['Factura_Fecha'].shift(1),
    df['Factura_FechaHora'].shift(1),
    pd.NaT  # Asignar NaT si no coinciden
)

# Asegurarse de que la columna Factura_Inicio_FechaHora sea tipo datetime
df['Factura_Inicio_FechaHora'] = pd.to_datetime(df['Factura_Inicio_FechaHora'], errors='coerce')

# Calcular el tiempo transcurrido
df['Tiempo_Transcurrido'] = df['Factura_FechaHora'] - df['Factura_Inicio_FechaHora']

# convertir el tiempo transcurrido a minutos
df['Tiempo_Transcurrido'] = df['Tiempo_Transcurrido'].dt.total_seconds() / 60
# excluir columnas con un Factura_Inicio_FechaHora igual a NaT
df = df.dropna(subset=['Factura_Inicio_FechaHora'])

In [73]:
print(df[df.Tiempo_Transcurrido < 0])

        Factura_Id  Suc_Id  Emp_Id  Caja_Id Factura_Fecha   Factura_FechaHora  \
808655      238609      52       1        1    2024-10-11 1900-01-01 13:16:04
113603      130435      52       1        2    2024-10-13 1900-01-01 18:22:33
491710      225646      58       1        4    2024-10-03 1900-01-01 18:23:27
323232      125088      93       1        1    2024-10-31 1900-01-01 08:43:12
302829       77763     107       1        1    2024-10-18 1900-01-01 15:22:18
444261       77905     107       1        1    2024-10-24 1900-01-01 09:33:47
603241      159916     111       1        2    2024-10-16 1900-01-01 10:59:30
549642       87480     124       1        2    2024-10-08 1900-01-01 12:34:28
544480      209954     142       1        1    2024-10-08 1900-01-01 11:54:47
629586       58402     183       1        2    2024-10-16 1900-01-01 18:17:34
711321       55698     204       1        3    2024-10-15 1900-01-01 11:44:28
290215       89726     209       1        1    2024-10-24 1900-01-01 12:57:39
167263       66976     214       1        3    2024-10-28 1900-01-01 04:08:07
493263       64878     246       1        1    2024-10-05 1900-01-01 10:52:15
799413       64880     246       1        1    2024-10-05 1900-01-01 11:01:36
679145       65141     246       1        1    2024-10-12 1900-01-01 00:47:47
159521       47259     246       1        5    2024-10-02 1900-01-01 17:37:56
573820       47301     246       1        5    2024-10-05 1900-01-01 14:01:53
877370       47304     246       1        5    2024-10-05 1900-01-01 16:47:18
855223        9020     283       1        1    2024-10-03 1900-01-01 17:21:57
792574        9628     283       1        1    2024-10-17 1900-01-01 14:51:57
530354        2368     283       1        3    2024-10-16 1900-01-01 18:39:50

        AnioMes_Id  Cliente_Id  MonederoTarj_Id  Vendedor_Id        Tipo_Plan  \
808655      202410    10000001                0     10003928  No Identificada
113603      202410    10000001  0801-1999-19816     10004745     Todo Publico
491710      202410    10000001                0     10004139  No Identificada
323232      202410    10000001  0505-2003-00703     10001009     Todo Publico
302829      202410    10000001  0801-1972-01246     10004623     Todo Publico
444261      202410    10000002  0602-1980-00511     10003499     Tercera Edad
603241      202410    10000001                0     10000599  No Identificada
549642      202410    10000001                0     10004262  No Identificada
544480      202410    10000001                0     10000736  No Identificada
629586      202410    10000001                0     10000701  No Identificada
711321      202410    10000001                0     10004473  No Identificada
290215      202410    10000001  1104-1978-00012     10004912     Todo Publico
167263      202410    10000002  1807-1951-00420     10004840     Tercera Edad
493263      202410    10000001                0     10003733  No Identificada
799413      202410    10000001                0     10003733  No Identificada
679145      202410    10000001                0     10004611  No Identificada
159521      202410    10000001  1709-1998-00676     10003733     Todo Publico
573820      202410    10000001                0     10004611  No Identificada
877370      202410    10000001                0     10004611  No Identificada
855223      202410    10000001                0     10004597  No Identificada
792574      202410    10000001                0     10004597  No Identificada
530354      202410    10000001                0     10004829  No Identificada

        Edad  TipoSucursal_Id   TipoSucursal_Nombre  Zona_Id Zona_Nombre  \
808655    33                2      Centro Comercial        2       NORTE
113603    25                2      Centro Comercial        2       NORTE
491710    33                3  Clínica/Hospitalaria        2       NORTE
323232    21                5  Estación de Servicio        2       NORTE
302829    52                9       Plaza Comercial        1  CENTRO SUR
444261    94                9       Plaza Comercial        1  CENTRO SUR
603241    33                2      Centro Comercial        1  CENTRO SUR
549642    33                2      Centro Comercial        1  CENTRO SUR
544480    33                9       Plaza Comercial        2       NORTE
629586    33                8          Supermercado        1  CENTRO SUR
711321    33                8          Supermercado        1  CENTRO SUR
290215    46                7           Stand Alone        2       NORTE
167263    73                6               Popular        2       NORTE
493263    33                9       Plaza Comercial        1  CENTRO SUR
799413    33                9       Plaza Comercial        1  CENTRO SUR
679145    33                9       Plaza Comercial        1  CENTRO SUR
159521    26                9       Plaza Comercial        1  CENTRO SUR
573820    33                9       Plaza Comercial        1  CENTRO SUR
877370    33                9       Plaza Comercial        1  CENTRO SUR
855223    33                9       Plaza Comercial        2       NORTE
792574    33                9       Plaza Comercial        2       NORTE
530354    33                9       Plaza Comercial        2       NORTE

       Factura_Inicio_FechaHora  Tiempo_Transcurrido  Hora
808655      1900-01-01 13:16:18            -0.233333    13
113603      1900-01-01 18:22:43            -0.166667    18
491710      1900-01-01 18:37:16           -13.816667    18
323232      1900-01-01 22:20:52          -817.666667     8
302829      1900-01-01 18:03:58          -161.666667    15
444261      1900-01-01 11:59:18          -145.516667     9
603241      1900-01-01 10:59:33            -0.050000    10
549642      1900-01-01 12:34:33            -0.083333    12
544480      1900-01-01 11:55:00            -0.216667    11
629586      1900-01-01 18:17:35            -0.016667    18
711321      1900-01-01 14:53:10          -188.700000    11
290215      1900-01-01 22:13:41          -556.033333    12
167263      1900-01-01 15:25:06          -676.983333     4
493263      1900-01-01 11:49:32           -57.283333    10
799413      1900-01-01 11:57:06           -55.500000    11
679145      1900-01-01 13:55:07          -787.333333     0
159521      1900-01-01 18:57:02           -79.100000    17
573820      1900-01-01 15:07:01           -65.133333    14
877370      1900-01-01 17:53:47           -66.483333    16
855223      1900-01-01 18:43:54           -81.950000    17
792574      1900-01-01 16:49:31          -117.566667    14
530354      1900-01-01 18:40:32            -0.700000    18

In [78]:
print(df[(df.Factura_Id.isin([238608, 238609])) & (df.Suc_Id == 52)])

        Factura_Id  Suc_Id  Emp_Id  Caja_Id Factura_Fecha   Factura_FechaHora  \
540715      238608      52       1        1    2024-10-11 1900-01-01 13:16:18
808655      238609      52       1        1    2024-10-11 1900-01-01 13:16:04

        AnioMes_Id  Cliente_Id MonederoTarj_Id  Vendedor_Id        Tipo_Plan  \
540715      202410    10000001               0     10003928  No Identificada
808655      202410    10000001               0     10003928  No Identificada

        Edad  TipoSucursal_Id TipoSucursal_Nombre  Zona_Id Zona_Nombre  \
540715    33                2    Centro Comercial        2       NORTE
808655    33                2    Centro Comercial        2       NORTE

       Factura_Inicio_FechaHora  Tiempo_Transcurrido  Hora
540715      1900-01-01 13:13:24             2.900000    13
808655      1900-01-01 13:16:18            -0.233333    13

In [63]:
# Agregar una columna para la hora
df['Hora'] = df['Factura_FechaHora'].dt.hour
# Agrupar por hora y tipo (por ejemplo, Tipo_Plan) y calcular métricas
resultados = df.groupby(['Hora', 'Tipo_Plan', 'Suc_Id', 'Caja_Id', 'Factura_Fecha']).agg(
    Tiempo_Promedio=('Tiempo_Transcurrido', 'mean'),
    Cantidad_Transacciones=('Factura_Id', 'count')
).reset_index()

resultados.Tiempo_Promedio.max()

print(resultados)

        Hora        Tipo_Plan  Suc_Id  Caja_Id Factura_Fecha  Tiempo_Promedio  \
0          0  No Identificada       3        1    2024-10-04         2.940000
1          0  No Identificada       3        1    2024-10-19         5.913889
2          0  No Identificada       3        2    2024-10-01         6.870000
3          0  No Identificada       3        2    2024-10-02         3.922222
4          0  No Identificada       3        2    2024-10-03         3.740476
...      ...              ...     ...      ...           ...              ...
361787    23     Todo Publico     305        1    2024-10-12        12.141667
361788    23     Todo Publico     305        1    2024-10-14        35.300000
361789    23     Todo Publico     305        1    2024-10-16        44.216667
361790    23     Todo Publico     305        1    2024-10-19        85.883333
361791    23     Todo Publico     305        1    2024-10-30        43.616667

        Cantidad_Transacciones
0                            5
1                            6
2                            5
3                            3
4                            7
...                        ...
361787                       2
361788                       1
361789                       1
361790                       1
361791                       1

[361792 rows x 7 columns]

In [62]:
# Agrupar por Sucursal, Hora y Tipo_Plan
promedios_por_sucursal = resultados.groupby(['Suc_Id', 'Hora', 'Tipo_Plan']).agg(
    Promedio_Tiempo=('Tiempo_Promedio', 'mean'),
    Promedio_Transacciones=('Cantidad_Transacciones', 'mean')
).reset_index()

# promeedios de tiempos por tipo
promedios_por_tipo = promedios_por_sucursal.groupby([ 'Tipo_Plan']).agg(
    Promedio_Tiempo=('Promedio_Tiempo', 'mean')
).reset_index()

print(promedios_por_tipo)

         Tipo_Plan  Promedio_Tiempo
0  No Identificada        18.580983
1     Tercera Edad        20.165213
2     Todo Publico        19.801017