In [2]:
import polars as pl
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import text

from sqlalchemy import create_engine
from urllib.parse import quote_plus
import numpy as np

connection_string = (
    'mssql+pyodbc://'
    'Angel_chavez:{}@172.16.2.227\\DWHFARINTERDEV/BI_FARINTER?'
    'driver=ODBC+Driver+17+for+SQL+Server'.format(quote_plus('@ng3l_ch@v3z'))
)
engine = create_engine(connection_string)
query = text("""SELECT
    fc.Suc_Id,
    fc.Emp_Id,
    fc.Caja_Id,
    fc.Factura_Id,
    fc.Factura_Fecha,
    fc.Factura_FechaHora,
    fc.AnioMes_Id,
    fc.Cliente_Id,
    fc.MonederoTarj_Id,
    fc.Vendedor_Id,
    CASE 
        WHEN fc.Monedero_Id = '0' THEN 'No Identificada'
				WHEN  cl.Tipo_Cliente = 'Aseguradoras' THEN 'Aseguradoras'
        ELSE md.Tipo_Plan 
    END AS Tipo_Plan,
    md.Edad,
    suc.TipoSucursal_Id,
    suc.TipoSucursal_Nombre,
    suc.Zona_Id,
    suc.Zona_Nombre
FROM
    [BI_Kielsa_Hecho_FacturaEncabezado] AS fc
    JOIN [BI_Kielsa_Dim_Monedero] AS md 
        ON md.Monedero_Id = fc.Monedero_Id AND md.Emp_Id = fc.Emp_Id       
    JOIN [BI_Kielsa_Dim_Sucursal] AS suc 
        ON suc.Sucursal_Id = fc.Suc_Id AND suc.Emp_Id = fc.Emp_Id
	   JOIN [BI_Kielsa_Dim_Cliente] AS cl 
		ON cl.Emp_Id = fc.Emp_Id AND cl.Cliente_Id = fc.Cliente_Id
WHERE
    fc.Factura_Fecha >= '2024-06-01' AND fc.Factura_Fecha <= '2024-12-31'
    AND fc.Emp_Id = 1;""")

with engine.connect() as conn:
    df_base = pd.read_sql(query, conn, index_col='Factura_Id')

In [3]:
df_base.head()
print(df_base.count())

Suc_Id                 6543584
Emp_Id                 6543584
Caja_Id                6543584
Factura_Fecha          6543584
Factura_FechaHora      6543584
AnioMes_Id             6543584
Cliente_Id             6543584
MonederoTarj_Id        6543584
Vendedor_Id            6543584
Tipo_Plan              6543584
Edad                   6543584
TipoSucursal_Id        6543584
TipoSucursal_Nombre    6543584
Zona_Id                6543584
Zona_Nombre            6543584
dtype: int64

In [4]:
# Crear una copia del DataFrame original
df = df_base.copy()

# Convertir los valores de hora a cadenas
df['Factura_FechaHora'] = df['Factura_FechaHora'].astype(str)

# Agregar una fecha ficticia a los valores de hora
df['Factura_FechaHora'] = '1900-01-01 ' + df['Factura_FechaHora']

# Convertir la columna Factura_FechaHora a datetime
df['Factura_FechaHora'] = pd.to_datetime(df['Factura_FechaHora'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Asegúrate de que Factura_Fecha y Factura_FechaHora sean tipo datetime
df['Factura_Fecha'] = pd.to_datetime(df['Factura_Fecha'])

# Crear el diccionario para mapear los tipos de transacciones
tipos_transaccion = {
    'Monedero tercera edad': 'Tercera Edad',
    'Monedero Cuarta Edad': 'Tercera Edad',
    'Monedero todo publico': 'Todo Publico',
    'Monedero Clínica TP': 'Todo Publico',
    'Monedero Clínica TE': 'Tercera Edad',
    'No Identificada': 'No Identificada',
    'Aseguradoras': 'Aseguradoras'
}

# Mapear los tipos de transacciones y eliminar las no relevantes
df['Tipo_Plan'] = df['Tipo_Plan'].map(tipos_transaccion)
#df = df.dropna(subset=['Tipo_Plan'])

# Extraer hora y día de la semana para el agrupamiento
df['Hora'] = df['Factura_FechaHora'].dt.hour
df['Dia_Semana'] = df['Factura_Fecha'].dt.day_name()

# Agrupar por sucursal, día de la semana, hora y tipo de transacción
agrupado = df.groupby(['Suc_Id', 'Dia_Semana', 'Hora', 'Tipo_Plan','Factura_Fecha', 'TipoSucursal_Nombre']
                      ).size().reset_index(name='Cantidad_Transacciones')

df_filter = df[(df['Suc_Id'] == 1) & (df['Dia_Semana'] == 'Monday') & (df['Hora'] == 7)]

In [5]:
print(df_filter)

            Suc_Id  Emp_Id  Caja_Id Factura_Fecha   Factura_FechaHora  \
Factura_Id
76765            1       1        2    2024-12-23 1900-01-01 07:28:36
75297            1       1        2    2024-11-25 1900-01-01 07:35:22
75296            1       1        2    2024-11-25 1900-01-01 07:25:21
75658            1       1        2    2024-12-02 1900-01-01 07:58:45
75657            1       1        2    2024-12-02 1900-01-01 07:51:11
76045            1       1        2    2024-12-09 1900-01-01 07:58:23
74573            1       1        2    2024-11-11 1900-01-01 07:40:54
74574            1       1        2    2024-11-11 1900-01-01 07:55:15
67376            1       1        2    2024-07-01 1900-01-01 07:38:14
66210            1       1        2    2024-06-10 1900-01-01 07:26:53
66211            1       1        2    2024-06-10 1900-01-01 07:49:05
73883            1       1        2    2024-10-28 1900-01-01 07:38:03
73885            1       1        2    2024-10-28 1900-01-01 07:54:09
71668            1       1        2    2024-09-16 1900-01-01 07:24:39
73884            1       1        2    2024-10-28 1900-01-01 07:38:44
74234            1       1        2    2024-11-04 1900-01-01 07:19:00
74235            1       1        2    2024-11-04 1900-01-01 07:59:37
71306            1       1        2    2024-09-09 1900-01-01 07:12:16
73512            1       1        2    2024-10-21 1900-01-01 07:20:15
73511            1       1        2    2024-10-21 1900-01-01 07:12:33
73514            1       1        2    2024-10-21 1900-01-01 07:48:31
73515            1       1        2    2024-10-21 1900-01-01 07:59:20
73513            1       1        2    2024-10-21 1900-01-01 07:47:24
70189            1       1        2    2024-08-19 1900-01-01 07:22:41
26186            1       1        1    2024-09-30 1900-01-01 07:39:38
69862            1       1        2    2024-08-12 1900-01-01 07:34:58
26158            1       1        1    2024-09-23 1900-01-01 07:23:57
72064            1       1        2    2024-09-23 1900-01-01 07:50:11
26159            1       1        1    2024-09-23 1900-01-01 07:26:57
69456            1       1        2    2024-08-05 1900-01-01 07:43:25
70563            1       1        2    2024-08-26 1900-01-01 07:31:38
70190            1       1        2    2024-08-19 1900-01-01 07:52:30
68219            1       1        2    2024-07-15 1900-01-01 07:21:34
69056            1       1        2    2024-07-29 1900-01-01 07:58:26
69055            1       1        2    2024-07-29 1900-01-01 07:15:50
68655            1       1        2    2024-07-22 1900-01-01 07:57:00
67788            1       1        2    2024-07-08 1900-01-01 07:36:18
25764            1       1        1    2024-07-01 1900-01-01 07:17:00
67787            1       1        2    2024-07-08 1900-01-01 07:23:43

            AnioMes_Id  Cliente_Id  MonederoTarj_Id  Vendedor_Id  \
Factura_Id
76765           202412    10000002  1801-1961-00448     10003323
75297           202411    10000001  1801-2005-01873     10003323
75296           202411    10000002  1801-1961-00448     10003323
75658           202412    10000001  1801-1985-00185     10004092
75657           202412    10000002  1801-1954-00491     10004092
76045           202412    10007549  1801-1977-01460     10003323
74573           202411    10000001  1801-2005-01873     10003323
74574           202411    10000001  1801-2005-01873     10003323
67376           202407    10000001                0     10004395
66210           202406    10000001  1806-1987-01451     10004092
66211           202406    10000001  0801-1978-16130     10004395
73883           202410    10000001  1801-2005-01873     10003323
73885           202410    10000001  1801-2005-01873     10003323
71668           202409    10000001  1801-1998-01176     10003323
73884           202410    10000001                0     10003323
74234           202411    10000002  1801-1984-01948     10004092
74235           202411    10000001                0     10004092
71306           202409    10000001  1801-1996-01029     10004092
73512           202410    10000001  1801-1992-01467     10004092
73511           202410    10000001  1801-1992-01467     10004092
73514           202410    10000001  1801-1992-01467     10004092
73515           202410    10000001  1801-1995-01380     10004092
73513           202410    10000001  1801-1996-01029     10004092
70189           202408    10000001  1801-1996-01029     10004092
26186           202409    10000001  1801-2005-01873     10003323
69862           202408    10000001  1801-1994-00907     10003323
26158           202409    10000002  0501-1953-01823     10004092
72064           202409    10000001  0501-1998-03314     10004092
26159           202409    10000001  1801-1996-01029     10004092
69456           202408    10000001  1801-1993-02526     10004092
70563           202408    10000001                0     10003324
70190           202408    10000001                0     10004092
68219           202407    10000001                0     10004395
69056           202407    10000001                0     10003323
69055           202407    10000001                0     10004395
68655           202407    10000001  1801-1993-01629     10004092
67788           202407    10000001  1801-1996-01029     10004092
25764           202407    10000001  0501-1990-13540     10003323
67787           202407    10000001  1801-2002-00969     10004395

                  Tipo_Plan  Edad  TipoSucursal_Id TipoSucursal_Nombre  \
Factura_Id
76765          Tercera Edad    64                7         Stand Alone
75297          Todo Publico    20                7         Stand Alone
75296          Tercera Edad    64                7         Stand Alone
75658          Todo Publico    40                7         Stand Alone
75657          Tercera Edad    71                7         Stand Alone
76045          Tercera Edad    80                7         Stand Alone
74573          Todo Publico    20                7         Stand Alone
74574          Todo Publico    20                7         Stand Alone
67376       No Identificada    33                7         Stand Alone
66210          Todo Publico    37                7         Stand Alone
66211          Todo Publico    58                7         Stand Alone
73883          Todo Publico    20                7         Stand Alone
73885          Todo Publico    20                7         Stand Alone
71668          Todo Publico    30                7         Stand Alone
73884       No Identificada    33                7         Stand Alone
74234          Tercera Edad    91                7         Stand Alone
74235       No Identificada    33                7         Stand Alone
71306          Todo Publico    32                7         Stand Alone
73512          Todo Publico    32                7         Stand Alone
73511          Todo Publico    32                7         Stand Alone
73514          Todo Publico    32                7         Stand Alone
73515          Todo Publico    29                7         Stand Alone
73513          Todo Publico    32                7         Stand Alone
70189          Todo Publico    32                7         Stand Alone
26186          Todo Publico    20                7         Stand Alone
69862          Todo Publico    49                7         Stand Alone
26158          Tercera Edad    71                7         Stand Alone
72064          Todo Publico    26                7         Stand Alone
26159          Todo Publico    32                7         Stand Alone
69456          Todo Publico    32                7         Stand Alone
70563       No Identificada    33                7         Stand Alone
70190       No Identificada    33                7         Stand Alone
68219       No Identificada    33                7         Stand Alone
69056       No Identificada    33                7         Stand Alone
69055       No Identificada    33                7         Stand Alone
68655          Todo Publico    32                7         Stand Alone
67788          Todo Publico    32                7         Stand Alone
25764          Todo Publico    35                7         Stand Alone
67787          Todo Publico    23                7         Stand Alone

            Zona_Id Zona_Nombre  Hora Dia_Semana
Factura_Id
76765             2       NORTE     7     Monday
75297             2       NORTE     7     Monday
75296             2       NORTE     7     Monday
75658             2       NORTE     7     Monday
75657             2       NORTE     7     Monday
76045             2       NORTE     7     Monday
74573             2       NORTE     7     Monday
74574             2       NORTE     7     Monday
67376             2       NORTE     7     Monday
66210             2       NORTE     7     Monday
66211             2       NORTE     7     Monday
73883             2       NORTE     7     Monday
73885             2       NORTE     7     Monday
71668             2       NORTE     7     Monday
73884             2       NORTE     7     Monday
74234             2       NORTE     7     Monday
74235             2       NORTE     7     Monday
71306             2       NORTE     7     Monday
73512             2       NORTE     7     Monday
73511             2       NORTE     7     Monday
73514             2       NORTE     7     Monday
73515             2       NORTE     7     Monday
73513             2       NORTE     7     Monday
70189             2       NORTE     7     Monday
26186             2       NORTE     7     Monday
69862             2       NORTE     7     Monday
26158             2       NORTE     7     Monday
72064             2       NORTE     7     Monday
26159             2       NORTE     7     Monday
69456             2       NORTE     7     Monday
70563             2       NORTE     7     Monday
70190             2       NORTE     7     Monday
68219             2       NORTE     7     Monday
69056             2       NORTE     7     Monday
69055             2       NORTE     7     Monday
68655             2       NORTE     7     Monday
67788             2       NORTE     7     Monday
25764             2       NORTE     7     Monday
67787             2       NORTE     7     Monday

In [7]:
print(df_tiempos)

           TipoSucursal_Nombre        Tipo_Plan  Tiempo_Promedio
0             Centro Comercial  No Identificada         4.750704
1             Centro Comercial     Tercera Edad         6.573587
2             Centro Comercial     Todo Publico         5.671098
3         Clínica/Hospitalaria     Aseguradoras        19.483333
4         Clínica/Hospitalaria  No Identificada         5.101626
5         Clínica/Hospitalaria     Tercera Edad         7.046594
6         Clínica/Hospitalaria     Todo Publico         6.314681
7   Especialidades Oncologicas  No Identificada         6.311111
8   Especialidades Oncologicas     Tercera Edad         7.185040
9   Especialidades Oncologicas     Todo Publico         0.883333
10        Estación de Servicio     Aseguradoras         7.633333
11        Estación de Servicio  No Identificada         5.758902
12        Estación de Servicio     Tercera Edad         7.183161
13        Estación de Servicio     Todo Publico         6.568534
14                     General  No Identificada         6.572834
15                     General     Tercera Edad         9.130994
16                     General     Todo Publico         8.753105
17             Plaza Comercial     Aseguradoras        11.856667
18             Plaza Comercial  No Identificada         5.376489
19             Plaza Comercial     Tercera Edad         7.020469
20             Plaza Comercial     Todo Publico         6.264826
21                     Popular     Aseguradoras         3.248611
22                     Popular  No Identificada         5.476545
23                     Popular     Tercera Edad         7.313985
24                     Popular     Todo Publico         6.829863
25                 Stand Alone     Aseguradoras         3.744726
26                 Stand Alone  No Identificada         5.613180
27                 Stand Alone     Tercera Edad         7.127470
28                 Stand Alone     Todo Publico         6.547145
29                Supermercado     Aseguradoras         3.941667
30                Supermercado  No Identificada         5.123775
31                Supermercado     Tercera Edad         6.559560
32                Supermercado     Todo Publico         5.924023

In [9]:
# Cargar tiempos por tipo de sucursal y tipo de transacción
df_tiempos = pd.read_csv('promedios_horas_pico_general.csv')

# Crear un diccionario para accesos rápidos a tiempos promedio
tiempos_dict = df_tiempos.set_index(['TipoSucursal_Nombre', 'Tipo_Plan'])['Tiempo_Promedio'].to_dict()

# Pivotar la tabla inicial
pivot_actualizado = agrupado.pivot_table(
    index=['Suc_Id', 'Dia_Semana', 'Hora', 'Factura_Fecha', 'TipoSucursal_Nombre'],
    columns='Tipo_Plan',
    values='Cantidad_Transacciones',
    fill_value=0
).reset_index()

# Calcular tiempo total usando operaciones vectorizadas
for tipo_plan in ['No Identificada', 'Tercera Edad', 'Todo Publico', 'Aseguradoras']:
    pivot_actualizado[tipo_plan + '_Tiempo'] = pivot_actualizado[tipo_plan] * \
        pivot_actualizado['TipoSucursal_Nombre'].map(
            lambda sucursal: tiempos_dict.get((sucursal, tipo_plan), 0)
        )

pivot_actualizado['Tiempo_Total'] = (
    pivot_actualizado[['No Identificada_Tiempo', 'Tercera Edad_Tiempo', 'Todo Publico_Tiempo', 'Aseguradoras_Tiempo']]
    .sum(axis=1)
)

# Calcular personal necesario
pivot_actualizado['Personal_Necesario'] = np.ceil(pivot_actualizado['Tiempo_Total'] / 42)

# Mapear días de la semana
dias_semana_map = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}
pivot_actualizado['Dia_Semana'] = pivot_actualizado['Dia_Semana'].map(dias_semana_map)

# Calcular transacciones totales
pivot_actualizado['Transacciones_Totales'] = pivot_actualizado[
    ['Todo Publico', 'Tercera Edad', 'No Identificada', 'Aseguradoras']
].sum(axis=1)

# Seleccionar las columnas finales
pivot_actualizado = pivot_actualizado[['Suc_Id', 'Dia_Semana', 'Hora', 'Transacciones_Totales', 'Personal_Necesario']]

In [10]:
pivot_actualizado.to_csv('personal_necesario.csv', index=False)