In [3]:
# opern file E:\Farinter\IA\Documentos\personal_marcaje.csv
import pandas as pd
import numpy as np
import os
path_file = 'E:\Farinter\IA\Documentos\personal_marcaje.csv'
df = pd.read_csv(path_file, sep=';')

In [6]:
df.head()

,Suc_Id,Sucursal_Nombre,Sucursal_Numero,fecha,Hora_inicio,Hora_final,hora,cantidad_empleados
0,1,K001 KIELSA YORO MONTECRISTO,1,1/11/2024,7,22,7,2
1,1,K001 KIELSA YORO MONTECRISTO,1,1/11/2024,7,22,8,2
2,1,K001 KIELSA YORO MONTECRISTO,1,1/11/2024,7,22,9,2
3,1,K001 KIELSA YORO MONTECRISTO,1,1/11/2024,7,22,10,2
4,1,K001 KIELSA YORO MONTECRISTO,1,1/11/2024,7,22,11,2

In [7]:
# Filter the dataframe for Sucursal 1
df_sucursal_1 = df[df['Suc_Id'] == 1]

# Group by 'hora' and find the maximum 'cantidad_empleados' for each hour
max_employees_per_hour = df_sucursal_1.groupby('hora')['cantidad_empleados'].max()

print(max_employees_per_hour)

hora
7     5
8     5
9     5
10    5
11    5
12    5
13    5
14    5
15    2
16    2
17    2
18    2
19    2
20    2
21    2
22    0
Name: cantidad_empleados, dtype: int64

In [8]:
print(df[(df['Suc_Id'] == 1) & (df['hora'] == 7) & (df['cantidad_empleados'] == 5)])

     Suc_Id               Sucursal_Nombre  Sucursal_Numero       fecha  \
672       1  K001 KIELSA YORO MONTECRISTO                1  13/12/2024
832       1  K001 KIELSA YORO MONTECRISTO                1  23/12/2024

     Hora_inicio  Hora_final  hora  cantidad_empleados
672            7          22     7                   5
832            7          22     7                   5