In [1]:
# opern file E:\Farinter\IA\Documentos\personal_marcaje.csv
import pandas as pd
import numpy as np
import os
path_file = '/Users/gabrielchavez/Documents/Farinter/ia/Documentos/DL_Kielsa_empleadosxhora1.csv'
df = pd.read_csv(path_file, sep=',')

In [2]:
df.head()

,Unnamed: 0,Suc_Id,Sucursal_Numero,Sucursal_Nombre,fecha,dia,Hora_apertura,Hora_cierre,hora_inicio,hora_final,cantidad_empleados
0,1,1,1,K001 KIELSA YORO MONTECRISTO,2024-11-01,viernes,7.0,22.0,7,8,1
1,2,1,1,K001 KIELSA YORO MONTECRISTO,2024-11-01,viernes,7.0,22.0,8,9,1
2,3,1,1,K001 KIELSA YORO MONTECRISTO,2024-11-01,viernes,7.0,22.0,9,10,1
3,4,1,1,K001 KIELSA YORO MONTECRISTO,2024-11-01,viernes,7.0,22.0,10,11,1
4,5,1,1,K001 KIELSA YORO MONTECRISTO,2024-11-01,viernes,7.0,22.0,11,12,1

     Unnamed: 0  Suc_Id               Sucursal_Nombre  Sucursal_Numero  \
679         680       1  K001 KIELSA YORO MONTECRISTO                1
839         840       1  K001 KIELSA YORO MONTECRISTO                1

          fecha  Hora_inicio  Hora_final  hora  cantidad_empleados
679  2024-12-13            7          22    14                   5
839  2024-12-23            7          22    14                   5

In [7]:
from urllib.parse import quote_plus
connection_string = (
    'mssql+pyodbc://'
    'Angel_chavez:{}@172.16.2.227\\DWHFARINTERDEV/IA_FARINTER?'
    'driver=ODBC+Driver+17+for+SQL+Server'.format(quote_plus('@ng3l_ch@v3z'))
)

In [8]:
# Insertar en la tabla IA_Personal_Sucursal las columnas [Suc_Id]             INT  NULL, [fecha]              DATE NULL, [hora]               INT  NULL, [cantidad_empleados] INT  NULL
# eliminar columnas que no estan en la tabla IA_Personal_Sucursal y renombrar las columnas para que coincidan con la tabla
df['hora']= df['hora_inicio']
df = df[['Suc_Id', 'fecha', 'hora', 'cantidad_empleados']]
df.to_sql('IA_Personal_Sucursal', connection_string, if_exists='append', index=False)

457

In [ ]:
# insertar en esta tabla